doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    meta(name='viewport', content='user-scalable=yes, width=device-width, initial-scale=1, maximum-scale=5')
    meta(name='theme-color', content='#333333')
    meta(name='msapplication-TileColor', content='#333333')
    
    title= pageMeta.title + ' | ' + config.title
    
    //- SEO / OpenGraph
    meta(name='description', content=pageMeta.description)
    meta(property='og:title', content=pageMeta.title)
    meta(property='og:type', content='website')
    meta(property='og:description', content=pageMeta.description)
    meta(property='og:image', content=pageMeta.image)
    meta(property='og:url', content=pageMeta.url)
    meta(property='og:site_name', content=config.title)
    
    link(rel='manifest', href='/manifest.json')
    
    //- Site Properties
    script.
      var siteConfig = !{JSON.stringify(siteConfig)}; var siteLangs = !{JSON.stringify(langs)}
    
    //- CSS


    link(
      type='text/css'
      rel='stylesheet'
      href='/css/app.fa87081e51cba0101a68.css'
      integrity='sha256-E57W5cFCZWLF0pe5yJjKAUeihdOfUhEyHjO2+OWotIY= sha512-ctQn8LU0iypYIm2TH5JBb1OsD8G+BJ/dYpHUwRy176camNDNcBBC0n6Efcy5VflFqFuv6Nld7gnZ1g3xlMrFIQ=='
      crossorigin='use-credentials'
    )


    
    //- JS


    script(
      type='text/javascript'
      src='/js/runtime.deaa475df473dafce3cc.js'
      integrity='sha256-u1K9Ce5gRjUzyWlp+0oS07eW7jUZSOzj02ukO1I7yeM= sha512-tjOS8V4MkmboJxMLOa9znyEbeQaQzoul+BQhBGPoDeX0NTUCQIN78b53D+AJg3T8wNZnKH6TCYzlNWECpUr2tg=='
      crossorigin='use-credentials'
      )



    script(
      type='text/javascript'
      src='/js/app.fa87081e51cba0101a68.js'
      integrity='sha256-wPn9Usiu2tP3lEwQpTY8Lsh7vpgh7+dq2NBBYfC0p+0= sha512-TGT1bFxYCX+Wyfwujqx1/A+Hhj8E905U5Uah1jPSMy+X3RRFL8cgvDd6+uRLBT3GhhJfCakGybnVItDYpMMe5g=='
      crossorigin='use-credentials'
      )


    
    block head
    
  body
    block body
