doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    meta(name='viewport', content='user-scalable=yes, width=device-width, initial-scale=1, maximum-scale=5')
    meta(name='theme-color', content='#333333')
    meta(name='msapplication-TileColor', content='#333333')
    
    title= pageMeta.title + ' | ' + config.title
    
    //- SEO / OpenGraph
    meta(name='description', content=pageMeta.description)
    meta(property='og:title', content=pageMeta.title)
    meta(property='og:type', content='website')
    meta(property='og:description', content=pageMeta.description)
    meta(property='og:image', content=pageMeta.image)
    meta(property='og:url', content=pageMeta.url)
    meta(property='og:site_name', content=config.title)
    
    link(rel='manifest', href='/manifest.json')
    
    //- Site Properties
    script.
      var siteConfig = !{JSON.stringify({ title: config.title, theme: config.theming.theme, darkMode: config.theming.darkMode, lang: config.lang.code, rtl: config.lang.rtl, company: config.company })}
    
    //- CSS


    link(
      type='text/css'
      rel='stylesheet'
      href='/css/app.cf3b0cfa84bc4910bf35.css'
      integrity='sha256-6Tg3w0MG6HWi/GPNT7La5dfGXf2DCEcXpmUh0rTaCw8= sha512-uSwd4se+Ymh8+UhnaSXe0i9JVK7BC2X3PQGEFVgPbcRJ9vu0RYL3SRzHlvKNc+xcvfuT9wK4CZHVRrt0kJbgTw=='
      crossorigin='use-credentials'
    )


    
    //- JS


    script(
      type='text/javascript'
      src='/js/runtime.cab6eb97e6021cc41e63.js'
      integrity='sha256-WSEEFnBmV7G9LyxN2BLMMnRIXW4o618rqymB4uPgg2w= sha512-i2sfUVbKO6pwdojYU1pZIz7e06RL+YCDpK+eqnhAYhrih+T9ZI5log/D32Qcxj0pYSNWbiPTJDXGFOYGMAzhHA=='
      crossorigin='use-credentials'
      )



    script(
      type='text/javascript'
      src='/js/app.cf3b0cfa84bc4910bf35.js'
      integrity='sha256-2VmPPuiPFdetSPcbPGJWR+3dGmlL1mcZNc7s6qPhg4w= sha512-/Suq1UQGliHiwfDTMlquUiKLtzAjphde994tvxTIcGzAkuNvrvXMU0XTPVcqVSWALPb8encDvKh9+1mhWVg+VA=='
      crossorigin='use-credentials'
      )


    
    block head
    
  body
    block body
