doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    meta(name='viewport', content='user-scalable=yes, width=device-width, initial-scale=1, maximum-scale=5')
    meta(name='theme-color', content='#333333')
    meta(name='msapplication-TileColor', content='#333333')
    title Wiki.js Setup
    
    link(rel='manifest', href='/manifest.json')
    
    //- Site Lang
    script.
      var siteConfig = !{JSON.stringify({ title: config.title })}
    
    //- CSS


    link(
      type='text/css'
      rel='stylesheet'
      href='/css/setup.3b1ac364833c05db92a5.css'
      integrity='sha256-36WhXiOwmHn0Lt9kwGCwy+xb3eiOPGa4mBAJU5lVV1s= sha512-ymIV716zMR+nmbBGWeFjXnBkH/GEQoL07Sup4ISvVDVf59PE3aiJmQaFfBnVH2itb+T96SCo81WQ/pYYftwNdw=='
      crossorigin='use-credentials'
    )


    
    //- JS


    script(
      type='text/javascript'
      src='/js/runtime.deaa475df473dafce3cc.js'
      integrity='sha256-u1K9Ce5gRjUzyWlp+0oS07eW7jUZSOzj02ukO1I7yeM= sha512-tjOS8V4MkmboJxMLOa9znyEbeQaQzoul+BQhBGPoDeX0NTUCQIN78b53D+AJg3T8wNZnKH6TCYzlNWECpUr2tg=='
      crossorigin='use-credentials'
      )



    script(
      type='text/javascript'
      src='/js/setup.3b1ac364833c05db92a5.js'
      integrity='sha256-3woCSZVFWhOOW4XmsUI6Dcglbqc70CfDvZC9lidVZ04= sha512-0TvP9I3Vi9hWDSA3Iokugp14vtHTc9Kyja/50IPhInS8LOvU+j49WyAhQP7+oEAu5bAne3VP69t4O02P4EXdUw=='
      crossorigin='use-credentials'
      )


    
  body
    #root
      setup(telemetry-id=telemetryClientID, wiki-version=packageObj.version)
